:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --first-text-color: #757575;
    --second-text-color: rgba(255, 255, 255, 0.6);
    --third-text-color: #FFFFFF;
    --button-color: #FFFFFF;
    --header-text-color: #212121;
    --accent-color: #2196F3;
    --background-face-footer-color: #2F303A;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    font-family: "roboto", sans-serif;
    color: var(--header-text-color);
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}




/* ----------HEADER---------- */

.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.page-header {
    border-bottom: 1px solid #ececec;
}

.header-logo-accent {
    color: var(--accent-color);
}

.header-list {
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}

.header-connect {
    margin-left: auto;
}


.header-item {
    margin-right: 50px;
}

.header-item :last-child {
    margin-right: 0;
}

.header-tel {
    margin-left: 50px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}


.header-tel,
.header-meilto {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    }

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.header-meilto:hover,
.header-meilto:focus {
    color: var(--accent-color);
}

/* ----------HERO---------- */

.hero {
    background-color: var(--background-face-footer-color);
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    display: block;
    margin: auto;
    border: none;
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--accent-color);
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--main-title-color);
}

/* ----------ABOUT---------- */

.about {
    padding-top: 94px;
}

.about-item {
    width: 270px;
    margin-right: 30px;
}

.feature-item:not(:last-child) {
    margin-right: 30px;
}

.about-list {
    display: flex;
    margin-bottom: 94px;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: 10px;
}

.about-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-text-color);

}



/* ----------ABOUT-WORK---------- */

.about-work {
    padding-top: 0;
    padding-bottom: 94px;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
    
}

.about-img {
    display: flex;
}

.about-img-item:not(:last-child) {
    margin-right: 30px;

}

/* ----------ABOUT-COMPANY---------- */

.about-company {
    background-color: #F5F4FA;
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
}

.company-item {
    margin-right: 30px;
    background-color: var(--main-title-color);
}

.company-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.company-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
}

.member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 10px;
}

.member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

/* ----------FOOTER---------- */

.footer {
    background-color: var(--background-face-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 20px;
    color: var(--main-title-color);
    display: flex;
}


.address {
    font-style: normal;
}

.address-link {
    color: #FFFFFF99
}

.address-item:not(:last-child) {
    display: block;
    margin-bottom: 9px;
}

.footer-logo-accent {
    color: var(--accent-color);
}

.location {
    color: var(--main-title-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address-link:focus,
.location:focus,
.address-link:hover,
.location:hover {
    color: var(--accent-color);
}

/* ----------PORTFOLIO---------- */

.button-gallery {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: var(--second-title-color);
    cursor: pointer;
}

.views-work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.button-gallery:hover,
.button-gallery:focus {
    color: var(--first-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button-gallery {
    padding: 6px 22px;
    color: var(--second-title-color)
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
}

.button-item:not(:last-child) {
    margin-right: 8px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--second-title-color)
}
.projects-text {
    font-size: 16px;
    line-height: 30px;
    color: var(--first-text-color);
}

.projects-box {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}



.button-gallery:hover,
.button-gallery:focus {
    color: var(--button-color);
    background-color: var(--accent-color);
}


